* {
    box-sizing: border-box;
}

body {
    display: grid;
    background-color:lightblue
 }

.nametag {
    margin:auto;
    align-content: center;
    border-radius: 25px;
}

.nametag-header {
    background-color: red;
    color:white;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    height: 120px;
    width: 400px;
    overflow: auto;
}

.hello {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    font-style: bold;
}

.name {
    background-color: white;
    color: black;
    font-family: cursive;
    font-style: bold;
    height: 50px;
    width: 400px;
    font-size: 20px;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.tag-footer {
    background-color: red;
    border-radius: 5px;
    height: 20px;
    width: 400px;
}

.sidebar {
    border-radius: 2px;
    background-color: rgb(20, 61, 198);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-style: bold;
    height: 100%;
    width: 200px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
.footer {
    margin-top: 2px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

input {
    text-align: center;
}

button {
    
}